body, input, button {
    font-family: Purisa, Verdana, Geneva, Tahoma, sans-serif;
    background: black;
    color: white;
}

div {
    margin: 4px 0;
}

button, input, span {
    margin: 0 4px;
}

h2 {
    color: #4a8f3c;
}

a {
    color: white;
}
